body{
    overflow-x: hidden;
    font-size: 1.5rem;
     background-color: rgb(241, 204, 161);
    color: aliceblue;
    

}
.container-reflection{
    text-align: center;
    padding: 1em;
}
.container-intro{
    background-color: rgb(51, 47, 114);
    margin-bottom: 2em;
    margin-left: 6em;
    width: 70vw;
    /* margin: 0 auto; */
    margin-bottom: 1em;
}
.container-individual-reflextion{
   display: flex;
   gap: 0.8cm;
   padding-left: 5.5em;
   padding-bottom: 1em;
   /* margin-bottom: 3em; */
   margin: 0 auto;

}
#book{
    width: 18vw;

}
.container-individual-text{
    background-color: rgb(71, 47, 138);
    padding: 1em;
    width: 50vw;
}
.container-content{

  background-color: white; 
  width: 90vw;
  height: 215vh;
    margin: 0 auto;
    margin-top: -1.4cm;
    justify-content: center;
    
}

.blog-info{
    background-color: rgb(51, 47, 114); 
    width: 50vw;
    padding: 1em;
    
    
}
.blog-content{
    /* background-color: rgb(51, 47, 114); */
}

#trevor_img{
    width: 20vw;
    padding-top: 3.5cm;
}
.container{
    display: flex;
    gap: 0.8cm;
    padding-left: 5.5em;
    
    
}
.header{
    
    background-image: url(image/book.png);
    background-size: cover;
    width: 98vw;
    height: 66vh;
    color: aliceblue;
    align-content: center;
    text-align: center;
    font-size: 1.8rem;
    /* position: fixed; */
    
}

.review-nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 1cm;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  
  .review-nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: 2px solid ;
    border-radius: 30px;
    transition: var(--transition);
  }
  
  .review-nav a:hover, .review-nav a.active {
    background-color: black;
    color: white;
  }
  footer{
    color: black;
    
  }

  .copyright{
    margin-left: 22vw;   
    
}
  
  .hr-lines{
    position: relative;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    color: rgb(44, 38, 38);
}
.hr-lines:before{
    content:"";
    height: 2px;
    width: 200px;
    background:rgb(122, 107, 107) ;
    display: block;
    position: absolute;
    top: 35%;
    left: -17cm;
    width: 33cm;
}


@media  only screen and (max-width: 760px) {

    .header{
    
        background-image: url(image/book.png);
        background-size: cover;
        width: 98vw;
        height: 66vh;
        color: aliceblue;
        align-content: center;
        text-align: center;
        font-size: 1.5rem;
        /* position: sticky; */
        
    }
    .container-intro{
        background-color: rgb(51, 47, 114);
        margin-bottom: 2em;
        width: 85vw;
        font-size: 1.1rem;
        margin-left: 0.6rem;
    }
    .container-individual-reflextion{
        display: flex;
        flex-direction: column;
        gap: 0.1cm;
        margin-bottom: 2em;
        margin-left: 0.6rem;
     }
     .container-individual-text{
        background-color: rgb(71, 47, 138);
        padding: 1em;
        width: 75vw;
        font-size: 1.1rem;
        
    }
    #book{
        width: 28vw;
    
    }
    .container-content{

        background-color: white; 
        width: 90vw;
        height: 413vh;
          margin: 0 auto;
          margin-top: -1.4cm;
          justify-content: center;
          
      }
      .container{
        display: flex;
        /* gap: 0.8cm; */
        flex-direction: column;
        
        
    }
      .blog-info{
        background-color: rgb(51, 47, 114); 
        width: 76vw;
        padding: 1em;
        font-size: 1.1rem;
        margin-left: 0.6rem;
        
    }
    #trevor_img{
        width: 30vw;
        padding-top: 0.01em;
        margin-left: 0.6rem;
    }
      
}